.o2-post-comments .top-comment {
	border: 2px solid #008000;
}
.post .o2-post-comments .top-comment.comment-display-top {
	background: rgba(0, 128, 0, 0.1);
}
.comment-display-top .comment-date,
.comment-display-top .o2-comment-actions {
	display: none;
}
.comment-display-top {
	position: relative;
}
.comment-display-top .top-comment-label {
	position: absolute;
	top: 5px;
	right: 10px;
	text-align: right;
	font-style: italic;
}
.comment-display-top .top-comment-label a {
	font-size: 80%;
}