.top-comment {
	border: 2px solid #008000 !important;
}

.comment-display-top {
	background: rgba(0, 128, 0, 0.1) !important;
}
.comment-display-top .comment-date {
	display: none;
}
.comment-display-top {
	position: relative;
}
.comment-display-top .top-comment-label {
	position: absolute;
	top: 5px;
	right: 10px;
	text-align: right;
	font-style: italic;
}
.comment-display-top .top-comment-label a {
	font-size: 80%;
}